<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/applogo"
        android:label="HomeNearCuet"
        android:roundIcon="@drawable/applogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.TabLayout"
        tools:targetApi="35">

        <!-- Splash Activity (Launcher) - Exported since it starts the app -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Login Activity -->
        <activity
            android:name=".LoginActivity"
            android:exported="false" />

        <!-- Register Activity -->
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />

        <!-- Property Detail Activity -->
        <activity
            android:name=".PropertyDetailActivity"
            android:exported="false" />

        <!-- Main Activity (After login) -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <!-- Landowner Main Activity (After login for Landowner) -->
        <activity
            android:name=".LandownerMainActivity"
            android:exported="false" />

        <!-- Edit Property Activity (For editing property details) -->
        <activity
            android:name=".EditPropertyActivity"
            android:exported="false" />

    </application>

</manifest>
